<?xml version="1.0" encoding="UTF-8"?>
<widget id="e87dde57-5ea4-45e8-8896-03977751ae37pubsysdemos"
        version="01.00.beta"
        versioncode="1"
        width="480">
    <name>公共事业查缴</name>
    <description>公共事业查缴的Demo应用</description>
    <content src="demo.html"/>
    <icon src="Icon.png"/>
	<feature name="cpay" required="true"/>
    <feature name="cmap" required="true"/>
    <feature name="http://jil.org/jil/api/1.1/widget" required="true"/>
    <feature name="singlesign" required="true"/>
    <feature name="http://jil.org/jil/api/1.1/device" required="true"/>
    <author email="">研究院互联网应用系统部</author>
</widget>